.backgroundWrapper{
    background: url('/images/four-card-stats-bg.png'); 
    background-size: contain;
    background-position: bottom;
    padding: 0px 0px 60px 0;
    margin: 50px 0 0 0;
    background-repeat: no-repeat;
}

/* frame one */
.frameOne {
  color: #fff;
  padding: 60px 0px;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  margin: 0 auto 50px;
}

.header h2 {
  margin-bottom: 15px;
}

.header p {
  color: #ccc;
}

.header h3{
  color: #F15D22;
  font-size: 24px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: #111;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 25px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(218.29deg, #F15D22 -37.24%, #211C4B 123.84%);
}

.card h4 {
  margin-bottom: 12px;
  font-family: var(--font-family-bold);
}

.card p {
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}

.description{
  font-size: 18px;
}

.description ul li{
  font-size: 18px;

}
/* stats */

.frameTwo {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.statsBox {
  flex: 1 1 40%;
  display: flex;
  flex-direction: row;
  background: #000000B2;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  gap: 10px;
}

.statItem {
  padding: 50px 40px;
  width: 33%;
  text-align: start;
  border-right: 1px solid;
  border-image: linear-gradient(0deg, #F15D22 37.79%, #BA998C 93.22%) 1;
}



.statItem:last-child {
  border-right: none;
  border-bottom: none;
}

.statItem h3 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #fff;
  font-family: var(--font-family-gilory-regular);
}

.statItem p {
  font-size: 18px;
  color: #A1A1AA;
  font-family: var(--font-family-gilory-regular);
}



@media (max-width: 768px) {
  .backgroundWrapper{
    padding: 0 10px;
    margin-bottom: 90px;
  }
  .seoSection{
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .statsBox{
    flex-direction: column;
  }

  .statItem{
    width: 100%;
    border-right: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(0deg, #F15D22 37.79%, #BA998C 93.22%) 1;
  }


}

