.frame {
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    max-width: 900px;
    margin: 0 auto 50px;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: bold;
}

.header p {
    color: #ccc;
    font-size: 1.2rem;
    line-height: 1.5;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
    align-items: start;
}

.gridbox {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    transition: all 0.3s ease;
    color: #fff;
    border-radius: 10px 29px 10px 10px;
    min-height: 200px;
    overflow: hidden;
}

.boxBg{
    position: absolute;
    top: 0;
    left: 0;
}

.gridbox:hover .boxBg{
    opacity: 0;
}

.gridbox:hover {
    /* transform: translateY(-5px); */
    background-color: #ffffff;
    color: #333;  
}

.lg {
    grid-column: span 3;
}

.md {
    grid-column: span 2;
}

.sm {
    grid-column: span 1;
}

.indexNumber {
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: black;
    background-color: #86827F;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gridbox:hover .indexNumber {
    color: white;
    background-color: black;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 0;
    color: #ff6b47;
    transition: color 0.3s ease;
}

.description {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    opacity: 0.8;
}

.arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    box-shadow: 0px 0px 0px 15px #0f0f0f; 
}

.gridbox:hover .arrow {
    background: rgba(0, 0, 0, 0.1);
   
}

.arrowDark {
    display: block;
}

.arrowLight {
    display: none;
}

.gridbox:hover .arrowDark {
    display: none;
}

.gridbox:hover .arrowLight {
    display: block;
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
    
    .header h1{
        font-size: 32px;
    }

    .content p{
        font-size: 18px;
    }
    .content h3{
        font-size: 20px;
    }
    .lg, .md, .sm {
        grid-column: span 1;
    }
    
    .gridbox {
        padding: 20px;
    }
}
